    /* styles.css */
    body {
      font-family: "Brush Script MT", cursive;
    }
    #btn {
  position: absolute;
    }
    .square1 {
      width: 100px;
      height: 100px;
      background-color: #05668d;
      border-radius: 25px;
      display: inline-block;
    }
    .square1:hover{
      height:120px;
      width:121px;
    }
    .square2 {
      width: 100px;
      height: 100px;
      background-color: #028090;
      border-radius: 25px;
      display: inline-block;
    }
    .square2:hover{
      height:120px;
      width:121px;
    }
    .square3 {
      width: 100px;
      height: 100px;
      background-color: #00a896;
      border-radius: 25px;
      display: inline-block;
      padding-right: 5px;
    }
    .square3:hover{
      height:120px;
      width:121px;
    }
    .square4 {
      width: 100px;
      height: 100px;
      background-color: #02c39a;
           border-radius: 25px;
           display: inline-block;
    }
    .square4:hover{
      height:120px;
      width:121px;
    }
    .square5 {
      width: 100px;
      height: 100px;
      background-color: #c9e775;
           border-radius: 25px;
           display: inline-block;
    }
    .square5:hover{
      height:120px;
      width:121px;
    }

